@model Trabalho_Pratico_23_24.Models.Habitacao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Habitacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoArrendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMinimoArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMinimoArrendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoMaximoArrendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoMaximoArrendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvaliacaoLocador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvaliacaoLocador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
