@model IEnumerable<Trabalho_Pratico_23_24.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    
}

<h1>Funcionários</h1>

<p>
    @if (User.IsInRole("Gestor")){
        <a asp-action="Create">Novo Funcionário</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.N_telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
